/* Responsive Adjustments */
@media (max-width: 768px) {
    .project-box,
    .work-experience-box {
        width: 100%;
    }
}



/* Mobile Styles */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack nav items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .links {
        flex-direction: column; /* Stack links vertically */
        display: none; /* Initially hide links */
        width: 100%; /* Full width for links */
    }

    .links.active {
        display: flex; /* Show links when active */
    }

    .links li {
        width: 100%; /* Full width for each link */
        text-align: center; /* Center text */
    }

    .dropdown-content {
        position: absolute; /* Changed to absolute for better positioning */
        background-color: #333;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Add some shadow for visibility */
        display: none; /* Initially hide dropdown content */
        z-index: 1; /* Ensure it appears above other elements */
        width: 100%; /* Full width for dropdown */
    }

    .dropdown:hover .dropdown-content {
        display: none; /* Disable hover effect on mobile */
    }

    .dropdown.active .dropdown-content {
        display: block; /* Show dropdown when active */
    }

    #menu.active + .links {
        display: flex; /* Show links when menu is active */
    }
}

